<!-- <div *ngIf="hero">
  <h2>{{hero.firstname | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.firstname" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>&nbsp;
  <button (click)="save()">save</button>
</div> -->

<div class="example-container" *ngIf="hero">
  <h3 style="font-weight: bold">{{hero.firstname | uppercase}} Details</h3>
  <mat-card class="example-card">
      <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="hero.firstname" placeholder="Firstname">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="hero.lastname"  placeholder="Lastname">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <p>
            <mat-form-field class="example-full-width">
              <textarea matInput [(ngModel)]="hero.address1" placeholder="Address"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput [(ngModel)]="hero.address2" placeholder="Address 2"></textarea>
            </mat-form-field>
          </p>
          <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="hero.city" placeholder="City">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="hero.state" placeholder="State">
                  </mat-form-field>
                </td>
                </tr>
                <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="hero.pin" maxlength="6" placeholder="Postal Code">
                  </mat-form-field>
                </td>
              </tr>
            </table>
  </mat-card>
  <br/>
  <button mat-raised-button color="warn" (click)="goBack()">Cancel</button>&nbsp;
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>